<div class="col-md-3">
  <div class="user">
    <h1>User info</h1>
      <%= image_tag user.get_profile_image(100,100) %>

      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>introduction</strong></td>
            <td><strong><%= user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>
      <div class="row mb-3">
        <div class="col-12">
        <%= link_to edit_user_path(user.id) do %>
          <button type="button" class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></button>
        <% end%>
        </div>
      </div>
  </div>

  <div class="new_book">
    <h1>New book</h1>
    <%= form_with model:book_new,url:books_path,method: :post do |f| %>


        <label for="book_title">Title</label>
        <div class="row mb-2 ml-2">
        <%= f.text_field:title,class:"col-10" %>
        </div>
        <label for="book_body">Opinion</label></br >
        <div class="row mb-2 ml-2">
        <%= f.text_area:body,class:"col-10" %>
        </div>
      <button class="btn btn-success mb-4" type="submit">Create Book</button>
    <% end %>
  </div>
</div>