<div class="col-12 col-lg-3">
  <div class="user">
    <h1>User info</h1>
      <%= image_tag user.get_profile_image(100,100) %>

      <table class="table">
        <tbody>
          <tr>
            <td><strong>name</strong></td>
            <td><strong><%= user.name %></strong></td>
          </tr>
          <tr>
            <td><strong>introduction</strong></td>
            <td><strong><%= user.introduction %></strong></td>
          </tr>
        </tbody>
      </table>

      <% if user==current_user %>
        <%= link_to edit_user_path(user.id) do %>
          <button type="button" class="btn btn-outline-secondary btn-block my-5"><i class="fa-solid fa-user-gear"></i></button>
        <% end%>
      <% end %>
      
  </div>

  <div class="new_book">
    <h1>New Book</h1>
    <%= form_with model:book_new,url:books_path,method: :post do |f| %>
      <div class="form-group">
        <label for="title">Title</label></br >
        <input class="form-control" id="title" type="text">
      </div>
      <div class="form-group">
        <label for="body">Opinion</label></br >
        <input class="form-control input-lg" id="body" type="text">
      </div>
      <button class="btn btn-success mb-4" type="submit">Create Book</button>
    <% end %>
  </div>
</div>